@import 'core/_mixins.scss';
@import 'vendors/_normalize';

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Roboto Slab", serif;
  background: black;
  padding: 35px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
  width: 100vw;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
}
.headerImage{
  width: 400px;
}

.filter-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-characters {
  border: 2px solid #00b4cc;
  color: #fff;
  background-color: #000;
  min-width: 300px;
  width: 38vw;
  padding: 7px;
  height: 35px;
  margin: auto;

}
.charactersListWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.characterList{
  
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 32px;
  @include mobilePlus{
    grid-template-columns: 1fr 1fr ;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

@include desktop {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  
    // }
  // padding-top: 13px;
  // width: 100%;
  // align-content: center;
  // align-items: center;
  // justify-content: center;
  // display: grid;
  // grid-template-columns: auto;
  // margin: auto;

  //
  // width: 90%;
  // margin: 0 auto;
  // padding-bottom: 32px;
  //padding: 20px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // width: 90vw;
  // margin: auto;
  // justify-content: center;
  // align-items: center;
  // @include mobileMedium{
  //   margin-bottom: 6%;
  //   margin-left: 6%;
  //   margin-left: auto;
  // margin-right: auto;
  // }
  // @include tabletMin {
  //   margin-bottom: 4%;
  //   margin-left: 2%;
  //   margin-left: auto;
  // margin-right: auto;
  // }
  // @include tablet{
  //   margin-bottom: 5%;
  //   margin-left: 2%;
  // }
}

.character-wrapper {
  background-color: #47b5cc;
  box-shadow: 7px 7px 15px -9px #c545f8;
  width: 220px;
  height: 330px;
  margin-bottom: 8%;
  margin-left: 8%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  list-style-type: none;
  &:hover {
    transform: scale(1.1);
    box-shadow: 7px 7px 15px -9px #9dff0a;
  }
  
  @include mobileMedium{
    margin-bottom: 6%;
    margin-left: 6%;
    margin-left: auto;
  margin-right: auto;
  }
  @include tabletMin {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-left: auto;
  margin-right: auto;
  }
  @include tablet{
    margin-bottom: 5%;
    margin-left: 2%;
  }
}

.characterImage {
  width: 220px;
}
.characterDescription{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.characterName {
color: white;
text-decoration: none;
margin-top: 10px;
font-size: 18px;
}

a{
  text-decoration: none;
}

.characterSpecie {
  color: white;
  font-size: 18px;
}
.specieIcon {
  width: 40px;
  height: 40px;
}

//////////////////////
.character-details-wrapper {
background-color: #47b5cc;
    width: 60%;
    margin-top: 65px;
}