@import 'core/_mixins.scss';
@import 'vendors/_normalize';

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Roboto Slab", serif;
  background: black;
  padding: 35px;
  margin: auto;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.headerImage{
  width: 400px;
}

.search-characters {
  border: 2px solid #00b4cc;
  color: #fff;
  margin-top: 35px;
  background-color: #000;
  width: 38vw;
  padding: 7px;
  height: 35px;

}
.charactersListWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.characterList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.character-wrapper {
  background-color: #47b5cc;
  box-shadow: 6px 6px 14px -9px #9dff0a;
  width: 228px;
  height: 330px;
  margin-bottom: 8%;
  margin-left: 8%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  list-style-type: none;
  @include mobileMedium{
    margin-bottom: 6%;
    margin-left: 6%;
    margin-left: auto;
  margin-right: auto;
  }
  @include tabletMin {
    margin-bottom: 4%;
    margin-left: 2%;
    margin-left: auto;
  margin-right: auto;
  }
  @include tablet{
    margin-bottom: 5%;
    margin-left: 2%;
  }
}

.characterImage {
  width: 228px;
}
.characterDescription{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.characterName {
color: white;
text-decoration: none;
margin-top: 10px;
font-size: 18px;
}

a{
  text-decoration: none;
}

.characterSpecie {
  color: white;
  font-size: 18px;
}
.specieIcon {
  width: 40px;
  height: 40px;
}